<div class="form-login">
  <h1>Connectez vous</h1>
  <form method="post" action="<%= access_login_path %>" class="form-inline" >
    <label for="password">Entrer mot de passe:</label>
    <div class="input-prepend input-append">
      <span class="add-on"><i class="icon-question-sign"></i></span>
      <input id="password" type="password" name="password">
      <input id="submit" type="submit" value="Valider" class="btn">
    </div>
  </form>
</div>