// Place all the styles related to the Access controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-login {
  width: 400px;
  margin: auto;
  padding: 20px;
  border: solid 1px #CCC;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #999;
}